/*error message*/
.error_message { background: rgba(0,0,0,.06);position: relative;width: 260px;border-radius: 3px;margin-bottom:10px;float:right;}
.error_message .field-validation-error, .login_container footer .field-validation-valid {display: table-cell;height: 40px;color:rgba(85,85,85,1);font-size:11px;padding: 0 10px 0 50px;text-align: left;-webkit-animation:error1 ease .2s;vertical-align: middle;width:260px;text-transform: uppercase;}
.error_message span {background: url(../images/resource.png) -90px -180px;height: 30px;left: 10px;top: 5px;width: 30px;position: absolute;-webkit-animation:error2 ease .4s}
.input-validation-error {box-shadow:0 0 0 1px rgba(207, 104, 104, 0.6) !important}
.input-validation-error:focus { border:none !important; }
.k-icon.p-error{display:none}
